{% extends "layout.html" %}

{% block title %}

Feedback

{% endblock %}

{% block main %}

<form class="needs-validation" novalidate action="/feedback" autocomplete="off" method="post">
    <div class="form-group">
        <select class="custom-select form-control" name="type" required>
            <option value="" disabled selected>Type</option>
            <option value="bug">Bug</option>
            <option value="suggestion">Suggestion</option>
        </select>
        <div class="invalid-feedback">Please select feedback type</div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" name="email" required>
        <div class="invalid-feedback">Please enter your email</div>
    </div>
    <div class="mb-3">
        <textarea class="form-control" placeholder="Feedback" name="feedback" required></textarea>
        <div class="invalid-feedback">Please write your feedback</div>
    </div>
    <button class="btn btn-primary darkmode-ignore" type="submit">Send Feedback</button>
</form>

{% endblock %}