{% extends "layout.html" %}

{% block title %}
{{ session["username"] }}
{% endblock %}

{% block head %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">{{ session["username"] }}.</h1>
        <p class="lead">Email:
            {{ email }}
            <br>
            Account created on: {{ time }}
        </p>
    </div>
</div>
{% endblock %}
{% block main %}
<script>
    /*$(document).ready( function () {
    $('table').DataTable();*/
} );

    let x = document.getElementsByClassName("rating");
    n = x.length;
    for(let i = 0; i < n; i++){
        let rating = x[i].innerHTML;

        if(rating <= 2){
            x[i].className += " badge badge-pill badge-danger";
            }
        else if(rating > 2 && rating <= 3){
            x[i].className += " badge badge-pill badge-warning";
            }
        else if(rating > 3 && rating <= 4){
            x[i].className += " badge badge-pill badge-primary";
            }
        else{
            x[i].className += " badge badge-pill badge-success";
            }
    }
</script>
{% endblock %}